{{define "footer"}}
		<!-- jQuery -->
		<script src="public/vendor/js/jquery/jquery-2.2.2.min.js"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="public/vendor/js/bootstrap/bootstrap.min.js"></script>

		<!-- Metis Menu Plugin JavaScript -->
		<script src="public/vendor/js/metisMenu/metisMenu.js"></script>

		<!-- Morris Charts JavaScript -->
		<script src="public/vendor/js/raphael/raphael-min.js"></script>
		<script src="public/vendor/js/morrisjs/morris.min.js"></script>
		<script src="public/js/morris-data.js"></script>

		<!-- Custom Theme JavaScript -->
		<script src="public/js/sb-admin-2.js"></script>
  </body>
</html>
{{end}}
